.header-container {
  display: flex;
  justify-content: space-between; /* Sắp xếp các phần cách đều */
  align-items: center;
  /* width: 100%; */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
  font-family: Arial, sans-serif;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.logo-search-container {
  display: flex;
  align-items: center;
  gap: 20px; /* Khoảng cách giữa logo và thanh tìm kiếm */
}

/* Logo */
.logo-header h1 {
  font-size: 30px;
  margin: 0;
  color: #f39c12;
}

/* Thanh tìm kiếm */
.search-bar {
  display: flex;
  gap: 10px;
}

.search-bar input {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  width: 200px;
}

.search-bar button {
  padding: 8px 15px;
  background-color: #f39c12;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #e67e22;
}

/* Liên kết điều hướng */
.navbar-header-link {
  display: flex;
  gap: 30px;
  flex-grow: 1; /* Đẩy menu vào giữa */
  justify-content: center; /* Canh giữa menu */
  margin-left: -224px;
}
.navbar-header-link a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  padding: 10px;
  transition: color 0.3s ease;
}

.navbar-header-link a:hover {
  color: #f39c12;
}

/* Đổi màu khi link được chọn */
.navbar-header-home.active a {
  color: #f39c12;
}

.auth-cart-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Phần đăng nhập và giỏ hàng */
.auth-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.auth-buttons a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s ease;
}

.auth-buttons a:hover {
  color: #f39c12;
}

.auth-buttons button {
  background-color: #e74c3c;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-buttons button:hover {
  background-color: #c0392b;
}

.cart-icon {
  color: #333;
  font-size: 20px;
  transition: color 0.3s ease;
}

.cart-icon:hover {
  color: #f39c12;
}
.navbar-header-container3 {
  display: flex;
  align-items: center;
  gap: 20px;
  border-right: 100px;
}
.user-icon {
  cursor: pointer;
  font-size: 20px;
  color: #333;
  transition: color 0.3s ease;
}

.user-icon:hover {
  color: #f39c12;
}

.user-icon-style {
  font-size: 25px;
}
